<div id="home-container">

    <h1>NYC Bikes</h1>

    <div class="surface">

        <div class="home-map-dates">
            <p-floatlabel variant="on">
                <p-datepicker
                    [(ngModel)]="dateFrom"
                    [iconDisplay]="'input'"
                    [showIcon]="true"
                    inputId="date-from-input"
                />
                <label for="date-from-input">Date from</label>
            </p-floatlabel>

            <p-floatlabel variant="on">
                <p-datepicker
                    [(ngModel)]="dateTo"
                    [iconDisplay]="'input'"
                    [showIcon]="true"
                    inputId="date-to-input"
                />
                <label for="date-to-input">Date to</label>
            </p-floatlabel>
        </div>

        @if (heatMapData().length > 0) {
            <app-map 
                [heatMapData]="heatMapData()"
                [itineraryData]="itineraryData() || []"
            />
        } @else {
            <i class="pi pi-spinner pi-spin"></i>
        }

        <div class="home-itinerary-type-container">
            <p-floatlabel variant="on">
                <p-select
                    [(ngModel)]="selectedItineraryType"
                    [options]="itineraryTypes()"
                    optionLabel="label"
                    optionValue="value"
                    inputId="selected-itinerary-type-input"
                />
                <label for="selected-itinerary-type-input">Itinerary type</label>
            </p-floatlabel>

            @if (selectedItineraryType() === 'accidented_itineraries') {
                <p-floatlabel variant="on">
                    <p-inputnumber
                        [ngModel]="maiService.topN()"
                        inputId="topn-input"
                        [min]="1"
                        [max]="20"
                        (onInput)="maiService.topN.set($event.value ?? 1); maiService.refresh();"
                    />
                    <label for="topn-input">Top n</label>
                </p-floatlabel>
            }
        </div>
    </div>

    @if (selectedItineraryType() === 'accidented_itineraries') {
        <app-chart
            [data]="maiService.topNAccidentedItinerariesChart() || { labels: [], datasets: [] }"
        />
    }

    <app-upload-zone importType="accidents" />

    <app-upload-zone importType="bikes_itinerary" />
</div>