.home-map-dates {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.home-itinerary-type-container {
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
}